.header {
	background: #20283ecc;
	border-radius: 24px;
	backdrop-filter: blur(24px);
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.headling {
	color: #beb7fb;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
}

.title {
	color: #ebeef5;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	letter-spacing: -0.6px;
}
