:root {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #ffffffde;
	background: url(/public/background.svg) no-repeat;
	background-color: #101a2b;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}
